<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/pa.css" rel="stylesheet" type="text/css">
    <link href="../resources/css/Home.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Programa Academico</title>
</head>
<body>
    <div class="Home-body">
        <div class="Home-header">
            <img class="Home-icono" > </img>
            <img class="uao-logo"></img>
            <div class="Home-titleFont">PORTAL DE MERCADEO</div>                     
            <a href="logout" class="Home_logout">X Cerrar Sesión</a>
          </div>


        <div>
            <a href="/create_pa" class="btn btn-primary">Agregar</a>  


        <div class="form_list">
            <table class="table table-hover">
                <thead class="table-dark">
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>CICLO</th>
                    <th>VERBAL</th>
                    <th>MATEMATICO</th>
                    <th>VISUALESPACIAL</th>
                    <th>KINESICO</th>
                    <th>MUSICAL</th>
                    <th>INTRAPERSONAL</th>
                    <th>INTERPERSONAL</th>
                    <th>NATURALISTA</th>
                    <th></th>
                </thead>
                <tbody>
                    <% results.forEach((nombre)=> { %>
                    <tr>
                        <td><%= nombre.numConsecutivo %></td>
                        <td><%= nombre.nombre %></td>
                        <td><%= nombre.ciclo %></td>
                        <td><%= nombre.verbal %></td>
                        <td><%= nombre.matematico %></td>
                        <td><%= nombre.visualEspacial %></td>
                        <td><%= nombre.kinesico %></td>
                        <td><%= nombre.musical %></td>
                        <td><%= nombre.intrapersonal %></td>
                        <td><%= nombre.interpersonal %></td>
                        <td><%= nombre.naturalista %></td>
                        <td>
                            <a href="/edit_pa/<%= nombre.numConsecutivo %>">editar</a>
                            <a href="/delete_pa/<%= nombre.numConsecutivo %>">borrar</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>

            </table>
        </div>
        </div>
    </div>
</body>
</html>