<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../resources/css/Colegio.css" rel="stylesheet" type="text/css">
    <link href="../resources/css/Home.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>COLEGIO</title>
</head>
<body>
    <div class="Home-body">
        <div class="Home-header">
            <img class="Home-icono" > </img>
            <img class="uao-logo"></img>
            <div class="Home-titleFont">PORTAL DE MERCADEO</div>                     
            <a href="logout" class="Home_logout">X Cerrar Sesión</a>
          </div>


        <div class="dashboard_list">
            <a href="/create_colegio" type="button" class="btn btn-primary">Agregar</a>  

            <div class="form_list">

            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>CIUDAD</th>
                        <th>NOMBRE REPRESENTANTE</th>
                        <th>CLASIFICACION</th>
                        <th>CODIGO DANE</th>
                        <th>TELEFONO</th>
                        <th>CORREO</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% results.forEach((nombre)=>{ %>
                    <tr >
                        <td><%= nombre.id %></td>
                        <td><%= nombre.nombre %></td>
                        <td><%= nombre.ciudad %></td>
                        <td><%= nombre.nombre_repre %></td>
                        <td><%= nombre.clasificacion %></td>
                        <td><%= nombre.c_dane %></td>
                        <td><%= nombre.telefono %></td>
                        <td><%= nombre.correo %></td>
                        <td>
                            <div class="d-grid gap-2 d-md-block">

                                <a href="/edit_colegio/<%= nombre.id %>" class="btn btn-link"  role="button"><div class='img_edit'></div></a>
                                <a href="/delete_colegio/<%= nombre.id %> " class="btn btn-link"  role="button"><div class='img_del'></div></a>

                            </div>
                           
                        </td>
                    </tr>
                    <% }) %>
                </tbody>

            </table>
        </div>
        </div>
    </div>
</body>
</html>